.c-main__card{
    height: 642px;
    width: 90%;
    margin: 5%;
    position: relative;
    &__title{
        font-size: 41px;
        color: #eaeaea;
        position: absolute;
        margin: 2% 0 0 3%;
    }
    &__items{
        position: absolute;
        margin: 297px 3% 0 3%;
    }
    &__item{
        height: 163px;
        color: #3c2a10;
        background: rgba(255,255,255,0.8);
        margin-bottom: 5px;
        > dt{
            font-size: 22px;
        }
        > dd{
            font-weight: 400;
            font-size: 16px;
            font-family: serif;
        }
    }
}
.takeout{
    background: url(../image/take-out.png) no-repeat center center / cover;
}
.eatin{
    background: url(../image/eat-in.png) no-repeat center center / cover;
}
