.c-main__content{
    height: 642px;
    width: 90%;
    margin: 5%;
    position: relative;
    &__title{
        font-size: 41px;
        color: #eaeaea;
        position: absolute;
        margin: 2% 0 0 3%;
        line-height: 1.3;
    }
    &__items{
        position: absolute;
        margin: 297px 3% 0;
    }
    &__item{
        height: 163px;
        color: #3c2a10;
        background: rgba(255,255,255,0.8);
        margin: 0 0 10px 0;
        overflow: hidden;
        > dt{
            font-size: 22px;
            margin: 19px 0 0 3%;
        }
        > dd{
            font-weight: 400;
            font-size: 16px;
            font-family: serif;
            margin: 20px 4.5% 20px 3%;
        }
    }
}
.takeout{
    background: url(../image/take-out.png) no-repeat center center / cover;
}
.eatin{
    background: url(../image/eat-in.png) no-repeat center center / cover;
}




.map__wrapper{
    height: 690px;
    width: 100%;
    position: relative;
    .map__contents{
        height: 100%;
        width: 100%;
        color: #fff;
        position: absolute;
        z-index: 30;
        .map__title{
            font-size: 30px;
            margin: 11% auto auto 40px;
            &__under-line{
                width: 75px;
                border-top: 1px solid #fff;
                margin-top: 20px;
            }
        }
        .map__content{
            font-size: 14px;
            line-height: 2.36;
            width: 79%;
            margin: 40px auto 61px;
        }
    }
    .black-layer--front{
        height: 415px;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
        position: absolute;
        z-index: 20;
    }
    img.map{
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: absolute;
        z-index: 10;
        object-fit: cover;
    }
    .black-layer--back{
        height: 100%;
        width: 100%;
        background-color: #000;
        position: absolute;
        z-index: 0;
    }
}    
