.c-main__content{
    height: 642px;
    width: 90%;
    margin: 5%;
    position: relative;
    &__title{
        font-size: 41px;
        color: #eaeaea;
        position: absolute;
        margin: 2% 0 0 3%;
        line-height: 1.3;
    }
    &__items{
        position: absolute;
        margin: 297px 3% 0;
    }
    &__item{
        height: 163px;
        color: #3c2a10;
        background: rgba(255,255,255,0.8);
        margin: 0 0 10px 0;
        overflow: hidden;
        > dt{
            font-size: 22px;
            margin: 19px 0 0 3%;
        }
        > dd{
            font-weight: 400;
            font-size: 16px;
            font-family: serif;
            margin: 20px 4.5% 20px 3%;
        }
    }
}
.takeout{
    background: url(../image/take-out.png) no-repeat center center / cover;
}
.eatin{
    background: url(../image/eat-in.png) no-repeat center center / cover;
}

.map__wrapper{
    height: 690px;
    width: 100%;
    position: relative;
    .map{
        height: 690px;
        width: 100vw;
        margin-top: 10px;
        background: url(../image/map.png) no-repeat center center / cover;
        opacity: 0.6;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        
        &::before{
            height: 690px;
            width: 100%;
            content: "";
            background-color: #000;
            //opacity: 0.3;
            position: absolute;
            z-index: 0;
        }
        
        &__contents{
            color: #fff;
            position: absolute;
            z-index: 10;
            .map__title{
                font-size: 30px;
                margin: 11% auto auto 40px;
            }
            .line{
                width: 75px;
                border-top: 1px solid #fff;
                margin-top: 20px;
            }
            .map__content{
                font-size: 14px;
                line-height: 2.36;
                width: 79%;
                margin: 40px auto 61px;
            }
        }
    }
    .black_layer{
            height: 415px;
            width: 100%;
            content: "";
            background-color: #000;
            opacity: 0.3;
            position: absolute;
            z-index: 30;
        
    }
}
