.c-search{
    width: 320px;
    margin: 38px auto 0 auto;
    display: flex;
    .search-form{
        height: 46px;
        width: 230px;
        margin-right: 14px;
        position: relative;
        &::before{
            height: 46px;
            width: 46px;
            content: "";
            background-image: url("../image/search.svg");
            background-size: 50% 50%;
            background-position: center;
            display: inline-block;
            position: absolute;
        }
        .search-text{
            height: 46px;
            width: 230px;
            border-width: 1px;
            border-radius: 10px;
            padding-left: 46px;
        }
    }
    
    .submit{
        height: 46px;
        width: 78px;
        border-width: 1px;
        border-radius: 10px;
        font-size: 17px;
    }
   
}