.map__wrapper{
    height: 690px;
    width: 100%;
    margin-top: 49px;
    position: relative;
    .map__contents{
        height: 100%;
        width: 100%;
        color: #fff;
        position: absolute;
        z-index: 30;
        .map__title{
            font-size: 30px;
            margin: 11% auto auto 40px;
            &__under-line{
                width: 75px;
                border-top: 1px solid #fff;
                margin-top: 20px;
            }
        }
        .map__content{
            font-size: 14px;
            line-height: 2.36;
            width: 79%;
            margin: 40px auto 61px;
        }
    }
    .black-layer--front{
        height: 415px;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
        position: absolute;
        z-index: 20;
    }
    img.map{
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: absolute;
        z-index: 10;
        object-fit: cover;
    }
    .black-layer--back{
        height: 100%;
        width: 100%;
        background-color: #000;
        position: absolute;
        z-index: 0;
    }
}    