.p-sidebar__menu__back{
    width: 328px;
    height: 100%;
    background-color: #F2EDE9;
    position: absolute;
    right: 0;
    
}
.p-sidebar__menus{
    color: #707070;
    margin: 212px 7% auto 14% ;
    .p-sidebar__main-menu{
        font-family: "M+ 1m";
        font-weight: 900;
        font-size: 24px;
        .p-sidebar__sub-menus{
            margin: 40px auto 34px 20px;
            .p-sidebar__sub-menu{
                font-family: "M+ 1m";
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 22px;
            }
        }
        
    }
}