.l-footer{
    width: 100%;
    height: 150px;
    background-color:#9D8670;
    overflow: hidden;
    color: #fff;
    text-align: center;
    .footer-title{
        font-size: 20px;
        margin-top: 39px;
    }
    .copyright{
        font-size: 14px;
        margin-top: 34px;
    }
}